spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: -1
      max-request-size: -1
  datasource:
    url: jdbc:mysql://127.0.0.1/word_export?serverTimezone=Asia/Shanghai&characterEncoding=UTF-8&nullCatalogMeansCurrent=true&useSSL=false&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
server:
  port: 8080
  tomcat:
    max-connections: 30000
  resources:
    static-locations: classpath:/static/,classpath:/resources/
    add-mappings: false
  servlet:
    context-path: /wordExportApi
network:
    ip: http://127.0.0.1
common:
    # 使用你自己的文件上传路径
    file-upload-path: /path/your/upload
    file-get-prefix: file



